<div class="row">
    <form name="issueInfo" class="col-md-7 issue-info">
        <h3 data-ng-cloak class="issue-title">{{vm.issue.Title}}</h3>
        <hr>
        <div class="form-group row">
            <label class="col-md-4 form-control-label">Title:</label>
            <div class="col-md-6">
                <div class="box-shadow" data-ng-cloak>{{vm.issue.Title}}</div>
            </div>
        </div>
        <hr>
        <div class="form-group row">
            <label for="description" class="col-md-4 form-control-label">
                <p>Description:</p>
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#descriptionModal">Show Full</button>
             </label>
            <div class="col-md-6">
                <div class="box-shadow">{{vm.issue.Description}}</div>
            </div>
        </div>
        <hr>
        <div class="form-group row">
            <label for="assigneeId" class="col-md-4 form-control-label">Assignee: </label>
            <div class="col-md-6">
                <div class="box-shadow" data-ng-cloak>{{vm.issue.Assignee.Username}}</div>
            </div>
        </div>
        <hr>
        <div class="form-group row">
            <label for="priorityId" class="col-md-4 form-control-label">Priority</label>
            <div class="col-md-6">
                <div class="box-shadow" data-ng-cloak>{{vm.issue.Priority.Name}}</div>
            </div>
        </div>
        <hr>
        <div class="form-group row">
            <label for="assigneeId" class="col-md-4 form-control-label">Due Date:</label>
            <div class="col-md-6">
                <div class="box-shadow" data-ng-cloak>{{vm.issue.DueDate}}</div>
            </div>
        </div>
        <hr>
        <div class="form-group row">
            <label class="col-md-4 form-control-label">Author:</label>
            <div class="col-md-6">
                <div class="box-shadow" data-ng-cloak>{{vm.issue.Author.Username}}</div>
            </div>
        </div>
        <hr>
        <div class="form-group row">
            <label class="col-md-4 form-control-label">Project:</label>
            <div class="col-md-6">
                <div class="box-shadow" data-ng-cloak>{{vm.issue.Project.Name}}</div>
            </div>
        </div>
        <hr>
        <div class="form-group row">
            <label class="col-md-4 form-control-label">Status:</label>
            <div class="col-md-6">
                <div class="box-shadow"><span data-ng-cloak>{{vm.issue.Status.Name}}</span></div>
            </div>
        </div>
        <hr>
        <div class="form-group row">
            <label class="col-md-4">Labels:</label>
            <div class="col-md-6">
                <div class="box-shadow">
                    <span data-ng-if="vm.issue.Labels.length === 0">No labels</span>
                    <span data-ng-repeat="label in vm.issue.Labels" data-ng-cloak>{{label.Name}}{{$last ? '' : ', '}}</span>
                </div>
            </div>
        </div>
        <hr>
        <div class="form-group row">
            <div class="col-md-6 btn-container">
                <a href="#/issues/{{vm.issue.Id}}/edit" data-ng-if="(vm.currentUser.Id === vm.project.Lead.Id) || vm.currentUser.isAdmin">
                    <button class="btn btn-primary">Edit Issue</button>
                </a>
                <a href="#/projects/{{vm.project.Id}}">
                    <button class="btn btn-primary">Go To Project</button>
                </a>
            </div>
        </div>
    </form>
    <aside class="col-md-3 col-md-offset-1 available-statuses">
        <header>
            <h4>Available statuses:</h4>
        </header>
        <div class="box-shadow" data-ng-if="vm.issue.AvailableStatuses.length === 0"><em>No statuses</em></div>
        <div class="status" data-ng-repeat="status in vm.issue.AvailableStatuses" data-ng-cloak>
            -----{{status.Name}}
            <button class="btn btn-success" type="button" data-ng-if="(vm.currentUser.Id === vm.issue.Assignee.Id) || vm.currentUser.Id === vm.project.Lead.Id || vm.currentUser.isAdmin"
                data-ng-click="vm.changeStatus(status.Id)">Change</button>
        </div>
    </aside>
</div>
<!-- Modal -->
<div id="descriptionModal" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="descriptionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Description</h4>
            </div>
            <div class="modal-body">
                <p><span class="overflow">{{vm.issue.Description}}</span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <section class="comments col-md-11">
        <header>
            <h3>Comments:</h3></header>
        <div class="comment box-shadow" data-ng-if="vm.comments.length === 0"><em>No comments</em></div>
        <div class="comment box-shadow" data-ng-repeat="comment in vm.comments">
            <div class="author" data-ng-cloak>{{comment.Author.Username}} - <span class="date">{{comment.CreatedOn}}</span></div>
            <div class="content" data-ng-cloak>{{comment.Text}}</div>
        </div>
        <form class="add-comment" data-ng-if="vm.userCanComment">
            <label for="addComment"><strong>Text:</strong></label>
            <textarea class="form-control" id="addComment" rows="4" data-ng-model="vm.text"></textarea>
            <button type="button" class="btn btn-primary" data-ng-click="vm.addComment(vm.text)">Add Comment</button>
        </form>
    </section>
</div>