<div class="row">
    <div class="jumbotron col-md-6">
        <h1>Dashboard</h1>
        <h2>Affiliated Projects</h2>
        <div class="project-name">entirely new project</div>
    </div>
    <div class="table-container col-md-6">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Title</td>
                    <td>Description</td>
                    <td>Project</td>
                    <td>Due Date</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Problem title</td>
                    <td>Procect Description</td>
                    <td>Entirely new project</td>
                    <td>28/03/2016(date)</td>
                </tr>
                <tr>
                    <td>Problem title</td>
                    <td>Procect Description</td>
                    <td>Entirely new project</td>
                    <td>28/03/2016(date)</td>
                </tr>
                <tr>
                    <td>Problem title</td>
                    <td>Procect Description</td>
                    <td>Entirely new project</td>
                    <td>28/03/2016(date)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>