<div class="row">
    <form name="projectInfo" class="col-md-6 project-info" novalidate>
        <h3 data-ng-cloak class="project-name">{{vm.project.Name}}</h3>
        <hr>
        <div class="form-group row">
            <label class="col-md-4 form-control-label">Name:</label>
            <div class="col-md-6">
                <div class="box-shadow" data-ng-cloak>{{vm.project.Name}}</div>
            </div>
        </div>
        <hr>
        <div class="form-group row">
            <label for="description" class="col-md-4 form-control-label">
                <p>Description:</p>
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#descriptionModal">Show Full</button>
            </label>
            <div class="col-md-6">
                <div class="box-shadow" data-ng-cloak>{{vm.project.Description}}</div>
            </div>
        </div>
        <hr>
        <div class="form-group row">
            <label for="projectLeadId" class="col-md-4 form-control-label">Lead ID (current: {{vm.project.Lead.Username}})</label>
            <div class="col-md-6">
                <div class="box-shadow" data-ng-cloak>{{vm.project.Lead.Id}}</div>
            </div>
        </div>
        <hr>
        <div class="form-group row">
            <label class="col-md-4">Labels:</label>
            <div class="col-md-6">
                <div class="box-shadow" data-ng-cloak>
                    <span data-ng-if="vm.project.Labels.length === 0">No labels</span>
                    <span data-ng-repeat="label in vm.project.Labels">{{label.Name}}{{$last ? '' : ', '}}</span>
                </div>   
            </div>
        </div>
        <hr>
        <div class="form-group row">
            <label class="col-md-4">Priorities:</label>
            <div class="col-md-6">
                <div class="box-shadow" data-ng-cloak>
                    <span data-ng-if="vm.project.Priorities.length === 0">No Priorities</span>
                    <span data-ng-repeat="priority in vm.project.Priorities">{{priority.Name}} {{$last ? '' : ', '}}</span>
                </div>             
            </div>
        </div>
        <hr>
        <div class="form-group row" ng-if="vm.currentUser.isAdmin || vm.currentUser.Id === vm.project.Lead.Id">
            <div class="col-md-6 btn-container">
                <a href="#/projects/{{vm.project.Id}}/edit"><button class="btn btn-primary">Edit Project</button></a>
                <a href="#/projects/{{vm.project.Id}}/add-issue"><button class="btn btn-primary">Add Issue</button></a>
            </div>
        </div>
        <hr>
        <div class="form-group row">
            <label for="selectStatus" class="col-md-4">Filter by status</label>
            <div class="col-md-6">
                <select class="form-control" id="selectStatus" data-ng-model="vm.statusFilter">
                    <option value="" selected="selected">Select status</option>
                    <option value="1">Closed</option>
                    <option value="2">Open</option>
                    <option value="3">In progress</option>
                    <option value="4">Stoped progress</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="authorSelect" class="col-md-4">Filter by author</label>
            <div class="col-md-6">
                <select class="form-control" id="authorSelect" data-ng-model="vm.authorFilter">
                    <option value="" selected="selected">Select author</option>
                    <option data-ng-repeat="author in vm.authors|orderBy" value="{{author}}" data-ng-cloak>{{author}}</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="assigneeSelect" class="col-md-4">Filter by assignee</label>
            <div class="col-md-6">
                <select class="form-control" id="assigneeSelect" data-ng-model="vm.assigneeFilter">
                    <option value="" selected="selected">Select assignee</option>
                    <option data-ng-repeat="assignee in vm.assignees|orderBy" value="{{assignee}}" data-ng-cloak>{{assignee}}</option>
                </select>
            </div>
        </div>
    </form>
    <div class="table-container col-md-6">
        <table class="table table-striped">
            <thead>
                <tr>
                    <h3>Project Issues</h3>
                </tr>
                <tr>
                    <td>Title</td>
                    <td>Description</td>
                    <td>Asignee</td>
                    <td>Author</td>
                    <td>Due Date</td>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-if="vm.issuesCount === 0">
                    <td>No Data</td>
                    <td>No Data</td>
                    <td>No Data</td>
                    <td>No Data</td>
                    <td>No Data</td>
                </tr>
                <tr data-ng-repeat="issue in vm.issues 
                |filter: {Status: {Id: vm.statusFilter}}
                |filter: {Assignee: {Username: vm.assigneeFilter}}
                |filter: {Author: {Username: vm.authorFilter}}">
                    <td data-ng-cloak><a href="#/issues/{{issue.Id}}">{{issue.Title}}</a></td>
                    <td data-ng-cloak>{{issue.Description}}</td>
                    <td data-ng-cloak>{{issue.Assignee.Username}}</td>
                    <td data-ng-cloak>{{issue.Author.Username}}</td>
                    <td data-ng-cloak>{{issue.DueDate | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div id="descriptionModal" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="descriptionModalLabel" aria-hidden="true">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Description</h4>
            </div>
            <div class="modal-body">
                <p><span class="overflow">{{vm.project.Description}}</span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>