<div class="row">
    <div class="jumbotron table-container col-md-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <h2>Project Leader of:</h2></tr>
                <tr>
                    <td>Name</td>
                    <td>Description</td>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-if="vm.userProjects.TotalCount === 0">
                    <td>No Data</td>
                    <td>No Data</td>
                </tr>
                <tr data-ng-repeat="project in vm.userProjects.Projects">
                    <td data-ng-cloak>
                        <a href="#/projects/{{project.Id}}">&nbsp;{{project.Name}}</a>
                    </td>
                    <td data-ng-cloak>&nbsp;{{project.Description}}</td>
                </tr>
            </tbody>
        </table>
        <pagination total-items="vm.userProjects.TotalCount" data-ng-model="vm.projectsParams.pageNumber" items-per-page="vm.projectsParams.pageSize"
            ng-change="vm.reloadProjects()" max-size="4">
        </pagination>
    </div>

    <div class="table-container col-md-7">
        <table class="table table-striped">
            <thead>
                <tr>
                    <h2>Assigned Issues</h2></tr>
                <tr>
                    <td>Title</td>
                    <td>Author</td>
                    <td>Asignee</td>
                    <td>Project</td>
                    <td>Status</td>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-if="vm.issuesCount === 0">
                    <td>No Data</td>
                    <td>No Data</td>
                    <td>No Data</td>
                    <td>No Data</td>
                    <td>No Data</td>
                </tr>
                <tr data-ng-repeat="issue in vm.userIssues.Issues">
                    <td data-ng-cloak><a href="#/issues/{{issue.Id}}">&nbsp;{{issue.Title}}</a></td>
                    <td data-ng-cloak>&nbsp;{{issue.Author.Username}}</td>
                    <td data-ng-cloak>&nbsp;{{issue.Assignee.Username}}</td>
                    <td data-ng-cloak><a href="#/projects/{{issue.Project.Id}}">&nbsp;{{issue.Project.Name}}</a></td>
                    <td data-ng-cloak>&nbsp;{{issue.Priority.Name}}</td>
                </tr>
            </tbody>
        </table>
        <pagination total-items="vm.issuesCount" data-ng-model="vm.issuesParams.pageNumber" items-per-page="vm.issuesParams.pageSize"
            ng-change="vm.reloadIssues()" max-size="6" boundary-links="true">
        </pagination>
    </div>
</div>