html {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 70px;
}

.home-form  {
    height: 300px;
    margin-bottom: 15px;
    padding-top: 20px;
}

.home-form label {
    margin-right: 10px;
}

.form-control.ng-invalid.ng-touched {
    border-color:#E1231b;
}

.home-form .checkbox {
    margin-left: 10px;
}

.border {
  border: 1px solid gray;
  border-radius: 10px;    
}

@media all and (max-width: 990px) {
    .home-form {
         height: 350px;
    }
   
}